{% extends "base.html" %}

{% block body_content %}
<div class="container-fluid">

	<div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
            	<a href="/watch">
	              <div class="card border-left-primary shadow h-100 py-2">
	                <div class="card-body">
	                  <div class="row no-gutters align-items-center" align="center">
	                    <div class="col mr-2">
	                    	<img class="mb-2" src="/static/images/watches.png" width="175" height="175">
	                    </div>	
	                    
	                     	<span class="btn btn-block badge badge-secondary text-uppercase">Watches</span>
	                  </div>
	                </div>
	              </div>
          		</a>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <a href="/gold">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2" align="center">
                        <img class="mb-2" src="/static/images/gold.png" width="175" height="175">
                      </div>  
                      
                        <span class="btn btn-block badge badge-secondary text-uppercase">Gold</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <a href="/diamond">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2" align="center">
                        <img  class="mb-2" src="/static/images/diamonds.png" width="175" height="175">
                      </div>  
                      
                        <span class="btn btn-block badge badge-secondary text-uppercase">Diamonds</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
</div>

{% endblock %}